{% extends 'superbase.html' %}

{% load static %}



{% block body_block %}


<!-- Modal -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h3 class="modal-title">Complete Task</h3>

            </div>

            <form id="done_task_form" method="post" action="/done_challenge_task/{{ challenge_code }}/{{ task_id }}/">
            <div class="modal-body"><div class="te"></div>

            

            {% csrf_token %}


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success">Complete Task!</button>
            </div>

            </form>
        </div>
        <!-- /.modal-content -->


{% endblock %}