{% extends 'base.html' %}


{% block body_block %}

<div class="container">
  <div class="row">
    
    <h1>Leaderboard</h1>
    <hr>

  </div>

  <div class="row">
    <div class="col-md-12">
        <h2>Character Info</h2>
        <hr>
        <div class="row">
            <div class="col-md-2">
            {% if userchar.profile_image_url %}
            <img src="{{ userchar.profile_image_url }}">
            {% else %}
            <i class="fa fa-smile-o fa-4x fa-border"></i>
            {% endif %}
            </div>
            <div class="col-md-10">
                <h3>{{ user.username }}<div class="pull-right">Level {{ userchar.level }}</div></h3>
                <h5>{{ userchar.expAmt }} / {{ expToLevel }} EXP</h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width:{{ expPercent }}%">
                    </div>


                </div>
            </div>
        </div>

        <div class="col-md-6">

        <div class="panel panel-warning">
            <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-pencil pull-left"></i>Tasks<div class="pull-right">{{ userchar.taskAmt }}</div></h3>
           
            </div>
        </div>

        <div class="panel panel-success">
            <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-thumbs-up pull-left"></i>Upvotes<div class="pull-right">{{ userchar.upvoteAmt }}</div></h3>
            </div>
        </div>        

        </div>

        <div class="col-md-6">

        <div class="panel panel-info">
            <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-star pull-left"></i>Contributions<div class="pull-right">{{ userchar.contribAmt }}</div></h3>
            </div>
        </div>

        <div class="panel panel-danger">
            <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-gamepad pull-left"></i>Challenges<div class="pull-right">{{ userchar.challengeAmt }}</div></h3>
            </div>
        </div>   


        </div>









    </div>





  </div>

  <div class="row">
    <div class="col-md-8">
    <h2>Top 50</h2>

    </div>

    <div class="col-md-4">
        <br>

    </div>

  </div>
          <hr>
  <br>

  <div class="row">
    <div class="col-md-12">


    {% if user.is_authenticated %}

    {% if top50 %}



            <table class="table">
            <thead>
                <tr>
                  <th>Rank</th>
                  <th>Username</th>
                  <th>Level</th>
                  <th>Total Exp</th>
                  <th>Tasks</th>
                  <th>Contributions</th>
                  <th>Upvotes</th>
                  <th>Challenges</th>
                </tr>
            </thead>


            {% for rank, entry in top50.items %}
            <tbody>
            <tr class="info">
            <td style="vertical-align:middle" width = 10%>{{ rank }}</td>
            <td style="vertical-align:middle" width = 25%>{{ entry.user.username }}</td>
            <td style="vertical-align:middle" width = 10%>{{ entry.level }}</td>
            <td style="vertical-align:middle" width = 15%>{{ entry.totalExpAmt }}</td>
            <td style="vertical-align:middle" width = 10%>{{ entry.taskAmt }}</td>
            <td style="vertical-align:middle" width = 10%>{{ entry.contribAmt }}</td>
            <td style="vertical-align:middle" width = 10%>{{ entry.upvoteAmt }}</td>
            <td style="vertical-align:middle" width = 10%>{{ entry.challengeAmt }}</td>

            </tr>
            </tbody>
            {% endfor %} 
            </table>







    {% endif %}

    {% endif %}



    </div>



</div>


{% endblock %}
