{% extends 'base.html' %}


{% block body_block %}

<div class="container">

  <div class="row">
    <div class="col-md-8">
    <h1>View All Tasks</h1>

    </div>

    <div class="col-md-4">
        <br>
    <a data-toggle="modal" data-target="#myModal" href="/add_module">
    <button type="button" class="btn btn-success pull-right
    ">
        <i class="fa fa-plus"></i> Add Module
    </button>
    </a>
    </div>

  </div>
          <hr>
  <br>

  <div class="row">
    <div class="col-md-12">


    {% if user.is_authenticated %}

    {% if moduletasks %}


    {% for module, tasks in moduletasks.items %}

    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="btn-group pull-right">
            <a type="button" class="btn btn-primary" href="/module/{{ module }}">
            <i class="fa fa-eye"></i> View Module
            </a>

            <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" href="/module/{{ module }}/add_task">
            <i class="fa fa-pencil"></i> Add Task
            </a>
            </div>

            <h3>{{ module.fixedModule.code }} - {{ module.fixedModule.name }}</h3>
        </div>

        



            <!-- Table -->
            {% if tasks %}
            <ul class="list-group">

            {% for task in tasks %}
            <a class="list-group-item" data-toggle="collapse" class="accordion-toggle" href="#{{ task.id }}">
                <h4><strong>{{ task.name }}</strong><i class="fa fa-caret-down fa-2x pull-right"></i></h4>

            </a>

            <div class="accordion-body collapse" id="{{ task.id }}">
            <table class="table">
            <tbody>
            <tr class="info">
            <td style="vertical-align:middle" width = 20%>{{ task.created }}</td>

            <td style="vertical-align:middle" width = 60%>{{ task.body }}</td>

            <td style="vertical-align:middle" width = 20%>

            <div class="btn-group pull-right">
            <a type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal" href="/{{ task.id }}/delete_task">
            <i class="fa fa-trash-o"></i>
            </a>

            <a type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal" href="/{{ module.fixedModule.code }}/{{ task.id }}/done_task">
                Done
            <i class="fa fa-check"></i>
            </a>
            </div>




            </td>
            </tr>


            </tbody>
            </table>
            </div>
            {% endfor %}

            </ul>

            {% else %}
            <div class="panel-body">
                <strong>No task has been specified.</strong>
            </div>
            {% endif %}

            <div class="panel-footer">
            </div>



    </div>    

    {% endfor %}


    {% else %}
        <strong>No tasks or modules has been selected.</strong>
    {% endif %}

    {% endif %}



    </div>



</div>


{% endblock %}
